<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#quizNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <strong class="navbar-brand" href="/quizzes/home">LOGO</strong>
    </div>
    <div class="collapse navbar-collapse" id="quizNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/quizzes/new">Import new Questions</a></li>
        <li><a href="/quizzes/">Illustrate Questions</a></li>
        <li><a href="#">Review / Test final questions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>